  <div class= "card text-left">
    <div class = "card header">
      <h2> <%= @article.name %> </h2>
    </div>
    <div class = "card=body">
    <ul>
      <p><%= @article.content %></p>
    </ul>
    </div>
  </div>
